{% extends 'base.html' %}
{% load static %}
{%block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for a in album %}
<div class="container">
    <h2>{{a.owner}}</h2>
    <h3>{{a.saga}}</h3>
    {% for ai in albumimage %}
    <div>
        <p>{{ai.name}}</p>
        <p>{{ai.image}}</p>
        <img src="{% static ai.image %}" alt="">
    </div>
    {% endfor %}
</div>
{% endfor %}
</body>
</html>
{% endblock content %}